*{margin:0;padding:0;list-style-type:none;}

.main {font:12px/180% Arial, Helvetica, sans-serif, "ÐÂËÎÌå";margin:0;padding:0;list-style-type:none;}
/* select */
.select{padding:5px 10px;border:#ddd 1px solid;border-radius:4px;width:60%;margin:5% auto;font-size:12px}
.select .another li{list-style:none;padding:10px 0 5px 100px}
.select .select-list{border-bottom:#eee 1px dashed}

.select .wtf dl:after{content:" ";display:block;clear:both;height:0;overflow:hidden}
.select .wtf dt{width:100px;margin-bottom:5px;position:absolute;top:0;left:-100px;text-align:right;color:#666;height:24px;line-height:24px}

.select .another dl{zoom:1;position:relative;line-height:24px;}
.select .another dl:after{content:" ";display:block;clear:both;height:0;overflow:hidden}
.select .another dt{width:100px;margin-bottom:5px;position:absolute;top:0;left:-100px;text-align:right;color:#666;height:24px;line-height:24px}
.select .another dd{float:left;display:inline;margin:0 0 5px 5px;}
.select .another a{display:inline-block;white-space:nowrap;height:24px;padding:0 10px;text-decoration:none;color:#039;border-radius:2px;}
.select .another a:hover{color:#f60;background-color:#f3edc2}
.select .selected a{color:#fff;background-color:#f60}
.select-result dt{font-weight:bold}
.select-no{color:#999}
.select .select-result a{padding-right:20px;background:#f60 url("close.gif") right 9px no-repeat}
.select .select-result a:hover{background-position:right -15px}
.select-label-result dt{font-weight:bold}
.select-label-no{color:#999}
.select .select-label-result a{padding-right:20px;background:#f60 url("close.gif") right 9px no-repeat}
.select .select-label-result a:hover{background-position:right -15px}