<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
               http://www.springframework.org/schema/context
               http://www.springframework.org/schema/context/spring-context-4.0.xsd
               http://www.springframework.org/schema/tx
               http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
               http://www.springframework.org/schema/aop
               http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
    
    <!-- 使Autowired注解生效 -->           
    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>

	<!-- 配置dataSource -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/nanny?characterEncoding=utf8&amp;useSSL=true" />
		<property name="user" value="root" />
		<property name="password" value="epxing" />
		<property name="initialPoolSize" value="5" />
		<property name="maxPoolSize" value="10" />
	</bean>

	<!-- 配置SessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
			</props>
		</property>
		<property name="annotatedClasses"> 
		 	<list> 
		 		<value>com.bjtu.entity.NannyUser</value> 
		 		<value>com.bjtu.entity.UserBaseInfo</value>
		 		<value>com.bjtu.entity.NannyUserAuthInfo</value>
		 		<value>com.bjtu.entity.EmployerUserAuthInfo</value>
		 		<value>com.bjtu.entity.SkillLabel</value>
		 		<value>com.bjtu.entity.Order</value>
		 		<value>com.bjtu.entity.OrderInformation</value>
		 		<value>com.bjtu.entity.EmployerLabel</value>
		 		<value>com.bjtu.entity.task.SingTask</value>
		 		<value>com.bjtu.entity.task.HistoryTask</value>
			</list> 
		</property> 
	</bean>
	
	<!-- 配置事务管理器 -->
	<bean id="transactionManager"  
        class="org.springframework.orm.hibernate5.HibernateTransactionManager">  
        <property name="sessionFactory" ref="sessionFactory" />  
    </bean>
    
    <!-- 启动事务注解扫描 -->
    <tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven> 
	
	<!-- 文件上传解析器  -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
     <property name="maxUploadSize" value="104857600" />
     <property name="maxInMemorySize" value="4096" />
     <property name="defaultEncoding" value="UTF-8"></property>
	</bean>

	<!-- 开启注解扫描包  -->
	<context:component-scan base-package="com.bjtu.daoImpl"></context:component-scan>
	<context:component-scan base-package="com.bjtu.serviceImpl"></context:component-scan>
</beans> 