<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC  
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">  
<hibernate-configuration>  
    <session-factory>
    	<!-- 分别为：数据库驱动类型，数据库链接URL，数据库账号，数据库密码 -->  
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>  
        <property name="hibernate.connection.url">jdbc:mysql://localhost/nanny</property>  
        <property name="hibernate.connection.username">root</property>  
        <property name="hibernate.connection.password">123456</property>  
        
        <!-- 分别为：是否显示SQL，是否格式输出SQL，自动创建|更新|验证数据库表结构 ，数据库方言-->  
        <property name="hibernate.show_sql">true</property>  
        <property name="hibernate.format_sql">true</property>  
        <property name="hibernate.hbm2ddl.auto">update</property>  
       	<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property> 
       	
       	<!-- 匹配的POJO映射文件 --> 
        <mapping resource="com/bjtu/entity/NannyUser.hbm.xml"/>  
    </session-factory>  
</hibernate-configuration> 